/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

/* Container to hold all elements */
.container {
    width: 300px;
    height: 600px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Header with back button and title */
.header {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: white;
    color: black;
}

.back-button {
    background: transparent;
    border: none;
    font-size: 10px;
    color: black;
    cursor: pointer;
    margin-right: 0px;
}

/* Search Section */
.search-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.search-section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.delete-button {
    background-color: #7d9eaf;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

/* Bottom Navigation */
.bottom-navigation {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-color: white;
}

.nav-button {
    background-color: #7d9eaf;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    font-size: 14px;
}
