* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
  }
  
  body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
  }
  
  .container {
    text-align: center;
    width: 300px;  /* Increased width */
    height: 600px;
    padding: 40px;  /* Increased padding */
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    border: 3px solid #4d93df; /* Blue border for emphasis */
  }
  
  h1 {
    margin-bottom: 120px;
    color: #444;
    font-size: 28px;  /* Increased font size */
  }
  
  .login-btn {
    background-color: #7d9eaf;
    color: white;
    padding: 15px 30px;  /* Increased button padding */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;  /* Increased font size */
    margin-top: 40px;
  }
  
  .login-btn:hover {
    background-color: #6a8b99;
  }
  
  .signup-link {
    margin-top: 70px;
  }
  
  .signup-link a {
    color: #7d9eaf;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;  /* Increased link font size */
  }
  
  .signup-link a:hover {
    text-decoration: underline;
  }
  